* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to right, #010f37, #020e30, #030c29, #030a21, #02081a);
    font-family: 'Roboto';
}

h2 {
    font-weight: 300 !important;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}