* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to right, #010f37, #020e30, #030c29, #030a21, #02081a);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#quiz {
    margin-top: 10px;
    border-radius: 10px;
}
